$font-size: 20px;

$button-background-color: green;

$button-font-color: white;

$text-font-color: green;

.hello-world-button {
  font-size: 20px;
  padding: 7px 15px;
  background: $button-background-color;
  color: $button-font-color;
  outline: none;
}

.hello-world-text {
  color: $text-font-color;
  font-weight: bold;
}
