<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale-5.0" />

    <meta name="description" content="{{HtmlWebpackPlugin.options.description}}" />
    <title>{{HtmlWebpackPlugin.options.title}}</title>
</head>

<body>

</body>

</html>